* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.navbar {
  height: 60px;
  background-color: #131921;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.border {
  border: 1px solid transparent;
}

.border:hover {
  border: 1px solid white;
}

.nav-logo {
  height: 50px;
  width: 100px;
}

.logo {
  background-image: url("./assets/amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
}

/* box 2 */
.nav-address {
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}
.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}

.add-sec {
  font-size: 1rem;
  margin-left: 3px;
}

.add-icon {
  display: flex;
}

/* box 3 */
.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 850px;
  height: 40px;
  border-radius: 4px;
  border: 3px solid transparent;
}

.nav-search:hover {
  border: 3px solid orange;
  background-color: orange;
}

.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-radius: 4px 0px 0px 4px;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
}

.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd69;
  border-radius: 0px 4px 4px 0px;
  color: #333333;
}

/*box*/

.nav-lan {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 5px 5px 5px;
}

.nav-lan select {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 0.85rem;
  font-weight: 700;
}

/* box 4 */
.nav-signin {
  height: 50px;
  padding: 5px;
}

span {
  font-size: 0.7rem;
}

.nav-second {
  font-size: 0.85rem;
  font-weight: 700;
}

/* box6 */
.nav-cart {
  display: flex;
  align-items: center;
  gap: 2px;
  height: 50px;
  padding: 5px;
}
.nav-cart i {
  font-size: 30px;
}

.nav-cart p {
  height: 100%;
  padding-top: 20px;
}

/* navbar end */

/*panel*/
.panel {
  height: 40px;
  background-color: #232f3e;
  display: flex;
  color: white;
  align-items: center;
  padding: 0 30px;
}

.panel-ops p {
  display: inline;
  margin-left: 15px;
  padding: 5px;
}

.panel-ops {
  width: 80%;
  font-size: 0.85rem;
}

.panel-deals {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 5px;
}

/* hero section */
.hero-section {
  background-image: url("./assets/hero_image.jpg");
  background-size: cover;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: white;
  color: black;
  font-size: 0.85rem;
  width: 96%;
  margin-bottom: 25px;
}

.hero-msg a {
  color: #007189;
  text-decoration: none;
}

/* shop section  */
.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #d2dede;
}

.box {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 22px;
}

.box-img {
  height: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-content p {
  color: #007189;
}
